/* @import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300;400;500;600&family=Open+Sans:wght@600;700&family=Poppins:wght@100;200;300;400;500;600;700&display=swap'); */
*,*::after,*::before{
  margin: 0;
  padding: 0;
}
body{
  box-sizing: border-box;
  background: radial-gradient(
    hsl(214, 47%, 23%),hsl(237, 49%, 15%)
  );
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Barlow Semi Condensed', sans-serif;
}
h2{
  font-size: 30px;
}
h1{
  font-size: 48px;
  color: #5E6C82;
}
.tableContainer{
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  border: 2px solid #5E6C82;
  padding: 10px 20px;
  margin: 30px 0;
}
.tableScore{
  background-color: #fff;
  border-radius: 10px;
  padding: 10px 50px;
}
.score{
  color: #3e52a3;
  font-size: 16px;
  font-weight: 500;
}

.Chooses{
  position: relative;
  height: 350px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100px;
}
.Chooses::after{
  content: '';
  /* background: url('./images/bg-triangle.svg') no-repeat center; */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 400px;
  height: 350px;
  z-index: -1;
}
.choise{
  position: relative;
  width: 150px ;
  height: 150px;
  margin: 0 25px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: .3s all ease;
  z-index: 2;
}
.choise:active{
  transform: scale(0.95);
}
.btn-paper{
  background: linear-gradient(
    hsl(230, 89%, 62%) , hsl(230, 89%, 65%)
  );}
.btn-scissors{
  background: linear-gradient(
    hsl(39, 89%, 49%) , hsl(40, 84%, 53%)
  );}
.btn-rock{
  background: linear-gradient(
    hsl(349, 71%, 52%) , hsl(349, 70%, 56%)
  );}
.choise .wrapper{
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.resultTable{
  background-color: #fff;
  color: #000;
  border-radius: 5px;
  width: 500px;
  padding: 15px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.details p{
  margin: 10px 0;
  padding: 0 10px;
}
.btn__rules{
  position: fixed;
  bottom: 30px;
  right: 30px;
  border: 2px solid #fff;
  border-radius: 10px;
  background: transparent;
  color: #fff;
  font-size: 16px;
  padding: 10px 25px;
  letter-spacing: 2px;
  cursor: pointer;
}

.selection{
  width: 800px;
  height: 100%;
  display: none;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 100px;
}
.selection .choise{
  transform: scale(1.3);
  margin: 50px;
}
.btn{
  background-color: #fff;
  border-radius: 10px;
  font-size: 16px;
  color: rgb(59, 66, 99);
  padding: 10px 25px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  outline: none;
  border: none;
  cursor: pointer;
}
.big-text{
  font-size: 3rem;
  margin: 20px 0;
  line-height: 0.8;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
}
.selection h2{
  padding-bottom: 40px;
}